@using RealEstateApp.Core.Application.ViewModels.TipoPropiedad
@model ListaTipoPropiedadViewModel 
@{
    ViewData["Title"] = "Home - Matenimiento de tipos de propiedades";
}

<div class="container-fluid">
    <h1> Mantenimiento de Tipos de Propiedades </h1>
    <div class="row mb-3">
        <div class="col-3">
            <a asp-controller="TipoPropiedad" asp-action="Crear" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                </svg>
            </a>
        </div>
    </div>
    @if(Model.MessageType != 0)
    {
        <div class="alert alert-@(Model.MessageType == 1 ? "success" : "danger")" alert-dismissible fade show" role="alert">
            @Model.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">

        @if (Model == null || Model.TiposPropiedad.Count == 0)
        {
            <h2>No hay Tipos de propiedades</h2>
        }
        else
        {
            @foreach (TipoPropiedadViewModel item in Model.TiposPropiedad)
            {
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                    <div class="card shadow-sm">
                        <div class="d-flex justify-content-end">
                            <div class="position-absolute" style="right: 16px; top: 16px;">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a onclick='mostrarEliminar("@item.Id")' class="btn btn-sm btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="TipoPropiedad" asp-action="Editar" asp-route-id="@item.Id" class="item-propiedad">
                            <div class="card-body p-0">
                                <div class="p-3 py-2">
                                    <h4> <b> @item.Nombre </b></h4>
                                    <p class="m-0">
                                        <b>Cantidad de Propiedades:</b>
                                        <br /><small>@item.CantidadPropiedades</small>
                                        <br /><b>Descripción:</b>
                                        <br /><small>@item.Descripcion</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="TipoPropiedad" asp-action="Eliminar">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eliminarModalLabel">Eliminar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="EliminarCodigo" asp-for="IdDelete" hidden />
                    <p>¿Desea eliminar este tipo de propiedad y todas sus propiedades?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </form>
        </div>
    </div>
</div>