@using RealEstateApp.Core.Application.ViewModels.User
@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers;
@using RealEstateApp.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

@model SaveUserViewModel
@{
    ViewData["Title"] = "Listado de Agentes";
}
<div class="container-fluid">
    <h1>Listado de Agentes</h1>
    @*<div class="row mb-3">
        <div class="col-6">
            <form method="get" asp-controller="Agente" asp-action="Index" class="d-flex">
                <input type="text" class="form-control me-2" placeholder="Buscar por nombre" name="searchTerm" value="@Model.SearchTerm">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>

        </div>
    </div>*@
    <div class="row">      
        @foreach (AuthenticationResponse user in ViewBag.Users)
        {
            @if (user.Roles[0] == Roles.Agente.ToString())
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card shadow-sm">
                        <a asp-controller="Agente" asp-action="Detalles" asp-route-id="@user.Id" class="item-propiedad">
                            <div class="card-body row">
                                <div class="col-6">
                                    <img class="img-fluid rounded-circle m-0" src="/@user.ImagePath" />
                                </div>
                                <div class="col-6">
                                    <h4> <b> @user.FirstName @user.LastName @user.ImagePath</b></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
