@using RealEstateApp.Core.Application.ViewModels.User
@using RealEstateApp.Core.Application.ViewModels.Agente
@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers;
@using RealEstateApp.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

@model ListaAgenteViewModel
@{
    ViewData["Title"] = "Mantenimiento de Desarrolladores";
}

<div class="row">
    <div class=" col-md-10 mx-auto">
        <div class="container pt-5 p-5 bg-dark rounded-3">
            <div class="d-flex justify-content-between mb-3 text-dark">
                <h2 class="text-white">DESARROLLADORES</h2>
                <a asp-controller="Admins" asp-action="RegisterDesarrollador" class="btn btn-lg btn-success mt-2 text-light mt-2 mb-2">
                    <i class='bx bxs-user-plus'></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                </a>
            </div>
            <table id="table-invited" class=" table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Cambiar estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AgenteViewModel user in Model.Agentes)
                    {
                        <tr class="table-light">
                            <td>@user.Nombre</td>
                            <td>@user.Apellidos</td>
                            <td>@user.UserName</td>
                            <td>@user.Cedula</td>
                            <td>@user.Correo</td>
                            <td>@(user.EmailConfirmed ? "Activo" : "Inactivo")</td>
                            <td class="text-center">
                                @if (User != null && user.Id != User.Id)
                                {
                                    <a asp-controller="Admins" asp-action="EditDesarrollador" asp-route-id="@user.Id" class="btn btn-sm btn-warning">
                                        <i class='bx bx-edit'></i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </a>
                                }
                            </td>
                            <td class="text-center">
                                @if (user.Id != User.Id)
                                {
                                    <a onclick='mostrarModalSimple("CambiarModal", "CambiarCodigo", "@user.Id")' class="btn btn-sm btn-@(user.EmailConfirmed ? "primary" : "secondary")">
                                        @if (user.EmailConfirmed)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8" />
                                            </svg>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                                <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5" />
                                            </svg>
                                        }
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="CambiarModal" tabindex="-1" aria-labelledby="CambiarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Admins" asp-action="ActivateUser">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CambiarModalLabel">Cambiar Estado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="CambiarCodigo" asp-for="SearchTerm" hidden />
                    <input type="hidden" asp-for="tipo" />
                    <p>¿Desea cambiar el estado de este desarrollador?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </form>
        </div>
    </div>
</div>
