@using RealEstateApp.Core.Application.ViewModels.User
@using RealEstateApp.Core.Application.ViewModels.Agente
@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers;
@using RealEstateApp.Core.Application.Enums
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

@model ListaAgenteViewModel
@{
    ViewData["Title"] = "Mantenimiento de Administradores";
}

<div class="row">
    <div class=" col-md-10 mx-auto">
        <div class="container pt-5 p-5 bg-dark rounded-3">
            <div class="d-flex justify-content-between mb-3 text-dark">
                <h2 class="text-white">ADMINISTRADORES</h2>
                <a asp-controller="Admins" asp-action="RegisterAdmin" class="btn btn-lg btn-success mt-2 text-light mt-2 mb-2"><i class='bx bxs-user-plus'></i> Registrar administrador</a>
            </div>
            <table id="table-invited" class=" table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Cambiar estado</th>
                    </tr>
                </thead>
                @if (User != null && User.Rol == 3){
                    <tbody>
                        @foreach (AgenteViewModel user in Model.Agentes)
                        {
                            <tr class="table-light">
                                <td>@user.Nombre</td>
                                <td>@user.Apellidos</td>
                                <td>@user.UserName</td>
                                <td>@user.Cedula</td>
                                <td>@user.Correo</td>
                                <td>@(user.EmailConfirmed ? "Activo" : "Inactivo")</td>
                                <td>
                                    @if (user.Id != User.Id)
                                    {
                                        <a asp-controller="Admins" asp-action="EditAdmin" asp-route-id="@user.Id" class="btn btn-sm btn-warning"><i class='bx bx-edit'></i></a>
                                    }
                                </td>
                                <td>
                                    @if (user.Id != User.Id)
                                    {
                                        <a onclick='mostrarModalSimple("CambiarModal", "CambiarCodigo", "@user.Id")' class="btn btn-sm btn-@(user.EmailConfirmed ? "primary" : "danger")">
                                            @if (user.EmailConfirmed)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                                                </svg>
                                            }
                                            else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                                </svg>
                                            }
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="CambiarModal" tabindex="-1" aria-labelledby="CambiarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Admins" asp-action="ActivateUser">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CambiarModalLabel">Cambiar Estado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="CambiarCodigo" asp-for="SearchTerm" hidden />
                    <input type="hidden" asp-for="tipo" />
                    <p>¿Desea cambiar el estado de este administrador?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </form>
        </div>
    </div>
</div>
