@using RealEstateApp.Core.Application.ViewModels.Propiedad
@using RealEstateApp.Core.Application.Enums
@model PropiedadViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid">
    <h1> Médicos </h1>
    <div class="row mb-3">
        <div class="col-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary"> Volver al menú </a>
        </div>
    </div>
    <div>
        <img class="img-fluid" src="@Model.Imagen" />
        <h4> <b> @(Enum.GetName(typeof(TipoPropiedad), Model.Tipo)) </b></h4>
        <small class="text-body-secondary">
            <b> Código: </b> @Model.Codigo
            <br> <b> Venta: </b> RD$ @Model.Valor
            <br> <b> Habitaciones: </b> @Model.Habitaciones
            <br> <b> Baños: </b> @Model.Baños
        </small>
    </div>
</div>