@using RealEstateApp.Core.Application.ViewModels.Propiedad
@using RealEstateApp.Core.Application.Enums
@model ListaPropiedadViewModel
@{
    ViewData["Title"] = "Home - Lista de propiedades";
}

<div class="container-fluid">
    <h1> Propiedades </h1>
    <div class="row mb-3">
        <div class="col-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary"> Volver al menú </a>
        </div>
        <div class="col-3 offset-6 row">
            <form method="post" asp-controller="Propiedad" asp-action="Index">
                <div class="row">
                    <div class="col-8">
                        <input asp-for="Codigo" class="form-control" />
                        <input type="hidden" asp-for="TipoPropiedad" />
                        <input type="hidden" asp-for="PrecioMinimo" />
                        <input type="hidden" asp-for="PrecioMaximo" />
                        <input type="hidden" asp-for="Habitaciones" />
                        <input type="hidden" asp-for="Baños" />
                    </div>
                    <button type="submit" class="btn btn-primary col-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-success col-2" data-bs-toggle="modal" data-bs-target="#filtroModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">

        @if (Model == null || Model.propiedades.Count == 0)
        {
            <h2>No hay propiedades</h2>
        }
        else
        {
            @foreach (PropiedadViewModel item in Model.propiedades)
            {
                <div class="col-4">
                    <a asp-controller="Propiedad" asp-action="Detalles" asp-route-codigo="@item.Codigo" class="item-propiedad">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <img class="img-fluid" src="@item.Imagen" />
                                <h4> <b> @(Enum.GetName(typeof(TipoPropiedad), item.Tipo)) </b></h4>
                                <small class="text-body-secondary">
                                    <b> Código: </b> @item.Codigo
                                    <br> <b> Venta: </b> RD$ @item.Valor
                                    <br> <b> Habitaciones: </b> @item.Habitaciones
                                    <br> <b> Baños: </b> @item.Baños
                                </small>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Propiedad" asp-action="Index">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="filtroModalLabel">Filtro de búsqueda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Codigo" />
                    <div class="mb-3">
                        <label asp-for="TipoPropiedad" class="form-label">Tipo de propiedad: </label>
                        <select asp-for="TipoPropiedad" class="form-control">
                            <option value="0">Ninguna</option>
                            <option value="1">Apartamento</option>
                            <option value="2">Casa</option>
                        </select>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="PrecioMinimo" class="form-label">Rango de precio: </label>
                        <div class="col-6">
                            <label asp-for="PrecioMinimo" class="form-label">Mínimo: </label>
                            <input asp-for="PrecioMinimo" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="PrecioMaximo" class="form-label">Máximo: </label>
                            <input asp-for="PrecioMaximo" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Habitaciones" class="form-label">Cantidad: </label>
                        <div class="col-6">
                            <label asp-for="Habitaciones" class="form-label">Habitaciones: </label>
                            <input asp-for="Habitaciones" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="Baños" class="form-label">Baños: </label>
                            <input asp-for="Baños" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aplicar</button>
                </div>
            </form>
        </div>
    </div>
</div>