@using RealEstateApp.Core.Application.ViewModels.Propiedad
@model ListaPropiedadViewModel 
@{
    ViewData["Title"] = "Home - Lista de propiedades";
}

<div class="container-fluid">
    <h1> Propiedades </h1>
    <div class="row mb-3">
        <div class="col-3">
            @if(Model.Filtros.TipoFiltroUsuario == 5)
            {
                <a asp-controller="Propiedad" asp-action="CrearPropiedad" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                </a>
            }
        </div>
        <div class="col-12 col-lg-3 col-md-6 col-sm-12 offset-0 offset-lg-6 offset-md-2 offset-sm-0">
            <form method="post" asp-controller="Propiedad" asp-action="Index">
                <div class="row">
                    <div class="col-10 col-lg-8 pe-0">
                        <input asp-for="Filtros.Codigo" class="form-control" />
                        <input type="hidden" asp-for="Filtros.TipoPropiedad" />
                        <input type="hidden" asp-for="Filtros.PrecioMinimo" />
                        <input type="hidden" asp-for="Filtros.PrecioMaximo" />
                        <input type="hidden" asp-for="Filtros.Habitaciones" />
                        <input type="hidden" asp-for="Filtros.Baños" />
                        <input type="hidden" asp-for="Filtros.TipoFiltroUsuario" />
                    </div>
                    <div class="col-2 col-lg-4 col-sm-2 ps-0 btn-group">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#filtroModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (Model.MessageType != 0)
    {
        <div class="alert alert-@(Model.MessageType == 1 ? "success" : "danger")" alert-dismissible fade show" role="alert">
            @Model.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">

        @if (Model.propiedades == null || Model.propiedades.Count == 0)
        {
            <h2>No hay propiedades</h2>
        }
        else
        {
            @foreach (PropiedadViewModel item in Model.propiedades)
            {
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                    <div class="card shadow-sm">
                        <div class="d-flex justify-content-end">
                            <div class="position-absolute" style="right: 16px; top: 16px;">
                                @if (Model.Filtros.TipoFiltroUsuario == 2 || Model.Filtros.TipoFiltroUsuario == 3)
                                {
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a asp-controller="Propiedad" asp-action="Favorito" asp-route-codigo="@item.Codigo"
                                               class="btn btn-sm btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                }
                                @if (Model.Filtros.TipoFiltroUsuario == 5)
                                {
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a onclick='mostrarEliminar("@item.Id")' class="btn btn-sm btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                }
                                @if (false)
                                {
                                    <div class="d-flex justify-content-between aling-items-center">
                                        <div class="btn-group">
                                            <form method="get" asp-controller="Propiedad" asp-action="EditarPropiedad" asp-route-codigo="@item.Codigo">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                                    </svg>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <a asp-controller="Propiedad" asp-action="@(Model.Filtros.TipoFiltroUsuario == 5 ? "EditarPropiedad" : "Detalles")" asp-route-codigo="@item.Codigo" class="item-propiedad">
                            <div class="card-body p-0">
                                @if(item.Imagenes != null && item.Imagenes.Count > 0)
                                {
                                    <img class="img-fluid m-0" src="@item.Imagenes[0]" />
                                }
                                <div class="p-3 py-2">
                                    <h4> <b> @item.TipoPropiedad.Nombre </b></h4>
                                    <p class="m-0">
                                        <b>@item.Codigo</b>
                                        <br /><br /><small>@item.TipoVenta.Nombre</small>
                                        <br /><b style="color:red;">RD$@item.Valor</b>
                                    </p>
                                    <div class="row-cols-lg-3 row-cols-md-3 row-cols-3 d-flex flex-md-column flex-lg-row flex-row mt-3">
                                        @if (item.Habitaciones > 0)
                                        {
                                            <div>
                                                <p>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lamp" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M5.04.303A.5.5 0 0 1 5.5 0h5c.2 0 .38.12.46.303l3 7a.5.5 0 0 1-.363.687h-.002q-.225.044-.45.081a33 33 0 0 1-4.645.425V13.5a.5.5 0 1 1-1 0V8.495a33 33 0 0 1-4.645-.425q-.225-.036-.45-.08h-.003a.5.5 0 0 1-.362-.688l3-7ZM3.21 7.116A31 31 0 0 0 8 7.5a31 31 0 0 0 4.791-.384L10.171 1H5.83z" />
                                                        <path d="M6.493 12.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.052.075l-.001.004-.004.01V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" />
                                                    </svg>
                                                    @item.Habitaciones
                                                </p>
                                            </div>
                                        }
                                        @if (item.Baños > 0)
                                        {
                                            <div>
                                                <p>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                                                        <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" />
                                                    </svg>
                                                    @item.Baños
                                                </p>
                                            </div>
                                        }
                                        <div>
                                            <p>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-rulers" viewBox="0 0 16 16">
                                                    <path d="M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h5v-1H2v-1h4v-1H4v-1h2v-1H2v-1h4V9H4V8h2V7H2V6h4V2h1v4h1V4h1v2h1V2h1v4h1V4h1v2h1V2h1v4h1V1a1 1 0 0 0-1-1z" />
                                                </svg>
                                                @(item.Tamaño)m²
                                            </p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Propiedad" asp-action="Index">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="filtroModalLabel">Filtro de búsqueda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Filtros.Codigo" />
                    <div class="mb-3">
                        <label asp-for="Filtros.TipoPropiedad" class="form-label">Tipo de propiedad: </label>
                        <select asp-for="Filtros.TipoPropiedad" class="form-control">
                            <option value="0">Ninguna</option>
                            @for(int i = 1; i < Model.tiposPropiedad.Count(); i++)
                            {
                                <option value="@i">@Model.tiposPropiedad[i].Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Filtros.PrecioMinimo" class="form-label">Rango de precio: </label>
                        <div class="col-6">
                            <label asp-for="Filtros.PrecioMinimo" class="form-label">Mínimo: </label>
                            <input asp-for="Filtros.PrecioMinimo" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="Filtros.PrecioMaximo" class="form-label">Máximo: </label>
                            <input asp-for="Filtros.PrecioMaximo" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Filtros.Habitaciones" class="form-label">Cantidad: </label>
                        <div class="col-6">
                            <label asp-for="Filtros.Habitaciones" class="form-label">Habitaciones: </label>
                            <input asp-for="Filtros.Habitaciones" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label asp-for="Filtros.Baños" class="form-label">Baños: </label>
                            <input asp-for="Filtros.Baños" class="form-control" />
                        </div>
                        <input type="hidden" asp-for="Filtros.TipoFiltroUsuario" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aplicar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="Propiedad" asp-action="Eliminar">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eliminarModalLabel">Eliminar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="EliminarCodigo" asp-for="EliminarId" hidden />
                    <input type="hidden" asp-for="Filtros.Codigo" />
                    <input type="hidden" asp-for="Filtros.TipoPropiedad" />
                    <input type="hidden" asp-for="Filtros.PrecioMinimo" />
                    <input type="hidden" asp-for="Filtros.PrecioMaximo" />
                    <input type="hidden" asp-for="Filtros.Habitaciones" />
                    <input type="hidden" asp-for="Filtros.Baños" />
                    <input type="hidden" asp-for="Filtros.TipoFiltroUsuario" />
                    <p>¿Desea eliminar esta propiedad?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </form>
        </div>
    </div>
</div>